.Contact {
  background-color: #f3f8ff;
  padding: 150px 10px 0 10px;
}

.Contact-main-text {
  font-size: 17px;
  color: #333;
  background-color: white;
  width: 990px;
  height: auto;
  margin: auto;
  padding: 48px;
  box-shadow: 4px 4px 20px 6px rgba(34, 60, 80, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  span {
    font-weight: bold;
  }
}

.Contact-form {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.Contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.Contact-form input,
.Contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.Contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.Contact-form button:hover {
  background-color: #0056b3;
}
