@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.hotels {
  .container {
    padding: 100px 0;
  }
}

.hotels-banner {
  margin-bottom: 20px;
  padding-bottom: 40px;
  box-shadow: 3px 9px 7px -8px rgba(34, 60, 80, 0.2);
}

.hotels-banner-inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding-top: 15px;
}

.hotels-list {
  margin: auto;
  padding: 0 15px;
  max-width: 1240px;
}

.hotels-banner-inner-sub {
  h1 {
    font-family: "Roboto", sans-serif;
  }
}
